extends layout

block prepend title
  | #{ page.metadata.title } |&nbsp;

block container
  article.container(id="article")
    section.twelve.columns
      != page.html
    section.four.columns(id="sidebar")
      include partials/sean-sidebar
      hr
      include partials/article-sidebar