extends layout

block js append
  include partials/homepage/js

block container
  div.container(id="home-page")
    div(id="intro-pad")
    section.sixteen.columns.intro(id="intro")
      block intro
        - var intro = contents.homepage.intro.index
        include partials/homepage/intro
  // Work
  div.container(id="work")
    - var items = _.chain(contents.homepage.work._.pages).sortBy(function (item) {
    -   return item.metadata['order']
    - }).value();
    each item in items
      include partials/homepage/work
      hr
  // Labs
  div.container(id="labs")
    div.clearfix.header
      h2 Labs
      span Experimental projects, demos and proofs of concept.<br/>Labs projects are a testbed for new ideas and technologies.
    - var items = _.chain(contents.homepage.labs._.pages).sortBy(function (item) {
    -   return item.metadata['order']
    - }).value();
    - var lastItem = items[items.length - 1];
    each item in items
      include partials/homepage/work
      if item != lastItem
        hr
  // About
  div(id="about-wrapper")
    div.container(id="about")
      - var about = contents.homepage.about.index
        include partials/homepage/about
    div.container(id="services")
      include partials/homepage/services
    div.container(id="resume")
      include partials/homepage/resume
  // Contact
  div(id="contact-wrapper")
    div.container(id="contact")
      - var contact = contents.homepage.contact.index
      include partials/homepage/contact
block footer
  include partials/homepage/footer
