nav(id="nav").full-width.clearfix
  a(href="/", id="logo") Sean Monahan

  #mobile-menu
    .bar.top
    .bar.mid
    .bar.bot

  ul
    li
      a(href="/work", id="nav-work") Work
    li
      a(href="/about", id="nav-about") About
    li
      a(href="/contact", id="nav-contact") Contact
    //- li
    //-   a(href="/blog", id="nav-archive") Blog