- var items = _.chain(contents.homepage.services._.pages).sortBy(function (item) {
-   return item.metadata['order']
- }).value();
each item in items
  div.one-third.column
    h3!= item.title
    p!= item.html