$retina-webkit:  "only screen and (-webkit-min-device-pixel-ratio: 2)";
$retina-moz:     "only screen and (min--moz-device-pixel-ratio: 2)";
$retina:         "only screen and (min-device-pixel-ratio: 2)";