// Primary Color:
$blue        : #40C1FF;
$blue_gray   : #549CBF;
$blue_dark   : #1577A6;
$blue_fade   : #70D0FF;
$blue_white  : #96DDFF;

// Secondary Color A:
$yellow       : #FFE337;
$yellow_gray  : #BFAF4F;
$yellow_dark  : #A69112;
$yellow_fade  : #FFEA69;
$yellow_white : #FFF091;

// Secondary Color B:
$pink       : #FF3777;
$pink_gray  : #BF4F73;
$pink_dark  : #A61241;
$pink_fade  : #FF6999;
$pink_white : #FF91B4;

$white: #ffffff;
$black: #000000;

$gray: #434343;
$gray_dark: #2d2d2d;