div.container
  div.sixteen.columns
    p
      span.blue.
        My name is Sean Monahan and this is my site.
    p
      span.gray.
        If you like what you've read follow me on <a href="#{twitter_url}">Twitter</a> and <a href="#{github_url}">Github</a> for more.
    p
      span.gray.
        You can contact me directly by sending an email to <a href="mailto:#{locals.email}?subject=Hi+there!">#{locals.email}</a>