ul
  li.always.title
    - if (page.metadata.title == "Sean Monahan")
      a(href="/#intro-pad", id="nav-home") SM
    - else
      a(href="/", id="nav-home") SM
  li.right.fa.always.github
    a(href="#{github_url}")
      i.fa.fa-github.fa-2x
  li.right.fa.always.twitter
    a(href="#{twitter_url}")
      i.fa.fa-twitter.fa-2x
  li.mobile
    a(href="/#menu", id="nav-menu")
      i.fa.fa-bars.fa-2x
  span(id="mobile-menu")
    li.toggle
      a(href="/#work", id="nav-work") Work
    li.toggle
      a(href="/#about", id="nav-about") About
    li.toggle
      a(href="/#contact", id="nav-contact") Contact
    li.toggle
      a(href="/archive/", id="nav-archive") Blog