hr
img(src="/images/sean_sidebar.png", alt="Sean")

p.
  My name is Sean Monahan and this is my site featuring my work, experiments and the occasional blog post.

p.
  You can follow me on <a href="#{twitter_url}" target="_blank">Twitter</a> and <a href="#{github_url}" target="_blank">Github</a>
  to keep track of what I'm up to. Send me an email at <a href="mailto:#{locals.email}?subject=Hello">#{locals.email}</a> if you want to say "hello".