h5 Other Work
ul
  li
    a(href="/#shibashiba") ShibaShiba
  li
    a(href="/work/elastic-suite") Elastic Suite
  li
    a(href="/work/beat-boost") Beat Boost
hr
h5 Labs
ul
  li
    a(href="/labs/framed") Framed
  li
    a(href="/labs/gnipgnop") GnipGnop