h5 Other Work
ul
  li
    a(href="/#shibashiba") ShibaShiba
  li
    a(href="/work/elastic-suite") Elastic Suite
  li
    a(href="/work/beat-boost") Beat Boost
hr
h5 Labs
ul
  - var labs = [];
  - var content = contents.labs;
  - for (var lab in content) {
  -   labs.push(content[lab]._.pages[0]);
  - }
  - labs = _.sortBy(labs, function(item) {
  -   return item.metadata['date'];
  - });
  each lab in labs
    li
      a(href="#{lab.url}") #{lab.metadata.title}